In [1]:
var = 2

In [2]:
var

2

In [3]:
x = 2
y = 3

In [4]:
x + y

5

In [5]:
x = x+x

In [6]:
x

4

In [10]:
x = x+x+x

In [11]:
x

12

<strong>In Python, the proper syntax is to use underscored when naming variables.</strong>

In [12]:
name_of_var = "Example variable!"

In [13]:
# Strings

In [14]:
'single quote'

'single quote'

In [15]:
"this is a string!"

'this is a string!'

In [16]:
"It's possible to wrap single quotes around double quotes"

"It's possible to wrap single quotes around double quotes"

In [17]:
 x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [20]:
number = 23
name = "Felipe"

In [21]:
"{}'s number is {}".format(name, number)

"Felipe's number is 23"

In [22]:
print("{}'s number is {}".format(name, number))

Felipe's number is 23

In [23]:
print("{name}'s number is {number}".format(name="Sam", number=12))

Sam's number is 12

In [27]:
s = 'abcdefgihjk'

In [28]:
print(s[4])

e

In [29]:
s[4:]

'efgihjk'

In [30]:
s[:4]

'abcd'

<strong>^ Return everything before but not including index 4</strong>

In [32]:
s[3:6]

'def'

 <strong>Lists can take any data type:</strong>

In [33]:
my_list = ['a','b','c']

In [34]:
my_list.append('d')

In [35]:
print(my_list)

['a', 'b', 'c', 'd']

In [36]:
print(my_list[0])

a

In [37]:
my_list[1:3]

['b', 'c']

In [38]:
my_list[0] = 'new A'

In [39]:
my_list

['new A', 'b', 'c', 'd']

In [40]:
nested_list = [1,2,[3,4]]

In [42]:
nested_list

[1, 2, [3, 4]]

<strong> Nested lists are lists that contains lists!</strong>

In [43]:
nested_list[2][1]

4

In [44]:
nested_list = [1,2,3,[4,5,['aaaaa']]]

In [45]:
print(nested_list[3][2][0])

aaaaa