<h1> Map and Filter functions

In [4]:
def times2(var):
    return var*2

In [3]:
# map()

In [2]:
seq = [1,2,3,4,5]

In [6]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

<strong> You can also use lambda expressions

In [9]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

<p>

In [10]:
# filter()

In [11]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

<h1> Methods

<strong> Methods are calls you can make of an object that will affect the object or return the object in some manner.

In [13]:
s = 'Hello, my name is Felipe'

In [14]:
s.lower()

'hello, my name is felipe'

In [15]:
s.capitalize()

'Hello, my name is felipe'

In [16]:
s.upper()

'HELLO, MY NAME IS FELIPE'

In [17]:
s.split()

['Hello,', 'my', 'name', 'is', 'Felipe']

In [18]:
tweet = 'Go Sports! #Sports'

In [19]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [20]:
tweet.split('#')[1]

'Sports'

In [21]:
d = {'k1':1, 'k2':2}

In [22]:
d.keys()

dict_keys(['k1', 'k2'])

In [23]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [24]:
list = [1,2,3]

In [25]:
list.pop()

3

In [26]:
list

[1, 2]

In [27]:
'x' in [1,2,3]

False

In [28]:
'x' in ['x','y','z']

True

<h1> Tuple Unpacking

In [29]:
x = [(1,2),(3,4),(5,6)]

In [32]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6