<h2> Multi-Index

In [7]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  1.221983 -1.798426
   2  0.743926  0.260027
   3 -0.417864  0.283744
G2 1  0.349690 -0.673706
   2 -0.227467  0.640914
   3  0.185783  0.441002

In [9]:
df.loc['G1']

          A         B
1  1.221983 -1.798426
2  0.743926  0.260027
3 -0.417864  0.283744

In [13]:
df.index.names = ['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1    1.221983 -1.798426
       2    0.743926  0.260027
       3   -0.417864  0.283744
G2     1    0.349690 -0.673706
       2   -0.227467  0.640914
       3    0.185783  0.441002

In [17]:
df.loc['G2'].loc[2]['B']

0.6409144689415681

In [25]:
df.xs(1, level='Num') # all groups where level Num is equal to 1.

               A         B
Groups
G1      1.221983 -1.798426
G2      0.349690 -0.673706