<h1> Dictionaries</h1>

<strong>Dictionaries hold elements through keys and their values</strong>

In [1]:
dictionary = {'key1':'value1', 'key2':123}

In [3]:
dictionary['key1']

'value1'

<strong>Dictionaries can take in any items as their values</strong>

In [6]:
dictionary = {'k1':[1,2,3]}

In [7]:
my_list = dictionary['k1']

In [8]:
my_list[0]

1

In [9]:
dictionary['k1'][2]

3

In [10]:
d = {'k1':{'innerkey': [1,2,3]}}

<h1>Tuples</h1>

In [14]:
my_list = [1,2,3]

In [15]:
my_list[0]

1

In [16]:
t = (1,2,3)

In [17]:
t[0]

1

In [18]:
my_list[0] = 'NEW'

In [19]:
my_list[0]

'NEW'

In [20]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

<strong>Tuples are immutable, whereas lists are mutable</strong>

<h1>Sets</h1>

<strong> Sets are collections of unique elements.</strong>

In [23]:
{1,2,3,1,2,2,3,3,1}

{1, 2, 3}

In [24]:
set([1,1,1,1,2,2,2,3,4,4,5,5,6,6,6,6,6])

{1, 2, 3, 4, 5, 6}

In [25]:
s = {1,2,3}

In [26]:
s.add(5)

In [27]:
s

{1, 2, 3, 5}

In [28]:
s.add(5)

In [30]:
s

{1, 2, 3, 5}

<h1>Comparison operators

In [31]:
1 < 2

True

In [32]:
1 < 2 and 2 < 3

True

In [33]:
1 < 2 and 2 > 3

False

In [34]:
1 < 2 or 2 < 3

True

In [35]:
1 < 2 or 2 > 3

True

In [36]:
True and False or True

True

In [37]:
True and True or False

True

In [38]:
if (1 < 2):
    print('yep!')

yep!

In [40]:
if (2 < 1): 
    print('how??')
else:
    print('no!')

no!

In [41]:
if (1 == 2):
    print('First')
elif (3 == 3):
    print('Middle')
else: 
    print('Last')

Middle